.date {
  border-bottom: 1px solid #eee;
  color: #777;
  font-size: 18px;
  margin: 30px 0 14px 0;
  padding: 0 0 4px 4px;
}

.card-outline {
  background: #eee;
  padding: 6px 14px;
  font-size: 18px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
}

.card-outline:hover {
  background: #ddd;
}

/* CardView */

.card-memo-area {
  margin: 14px 0 30px 0;
  text-align: center;
}

.memo-add-btn {
  margin-top: 10px;
}


/* MemoView */
.memo {
  padding: 10px;
  background: #eee;
  border-radius: 5px;
  margin-top: 10px;
}