/* ---------------------------------- */
/* Common styles */
/* ---------------------------------- */

label {
  font-weight: normal;
}

h1 {
  border-bottom: 1px solid #eee;
  color: #777;
  font-size: 21px;
  margin: 30px 0 30px 0;
  padding: 0 0 4px 4px;
}

h2 {
  border-bottom: 1px solid #eee;
  color: #777;
  font-size: 21px;
  margin: 30px 0 14px 0;
  padding: 0 0 4px 4px;
}

.btn-options {
  text-align: right;
}
.btn-options button {
  margin-left: 10px;
}

.card-group {
  width: 270px;
  float: left;
  margin-right: 20px;
}

.card-outline {
  width: 100%;
  background: #f6f6f6;
  float: left;
  padding: 10px 14px;
  font-size: 18px;
  margin-bottom: 1px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

.card-outline:hover {
  background: #ddd;
}


/* ---------------------------------- */
/* Card View styles */
/* ---------------------------------- */
.modal-body {
  padding-bottom: 0;
}

.card-title {
  font-size: 20px;
}
.card-title, .card-title-edit-area {
  float:left;
  width: 90%;
}

.card-title-edit-area .card-title-edit-input {
  width: 90%;
}

.description-view-area {
}

.description-edit-area {
}

.card-description-edit-btn, .card-description-save-btn {
  margin-top: 10px;
  text-align: center;
  float: right;
}

.card-description-input {
  min-height: 200px;
}

.card-description {
  padding: 20px;
  max-height: 400px;
  overflow-y: scroll;
}

.card-memo-area {
}

.memo-add-btn {
  margin-top: 10px;
}

.card-todo-area .todo-content-input {
  width: 250px;
}


/* ---------------------------------- */
/* Memo View styles */
/* ---------------------------------- */
.memo {
  padding: 10px;
  background: #e7e7e7;
  border-radius: 5px;
  margin-top: 8px;
}

.memo-date {
  font-size: 11px;
  color: #777;
  margin-bottom: 6px;
}


/* ---------------------------------- */
/* Todo View styles */
/* ---------------------------------- */
.todo {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.todo-content {
  padding-left: 8px;
  font-size: 16px;
}
