<html>
<head>
<title>Task Partner</title>
  
  <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="lib/github-markdown-css/github-markdown.css">

  <script type="text/javascript" src="lib/jquery/js/jquery.js"></script>
  <script type="text/javascript" src="lib/underscore/js/underscore.js"></script>
  <script type="text/javascript" src="lib/backbone/js/backbone.js"></script>
  <script type="text/javascript" src="lib/bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="lib/moment/moment.js"></script>
  <script type="text/javascript" src="lib/marked/marked.js"></script>
  <script type="text/javascript" src="js/memo.js"></script>
  <script type="text/javascript" src="js/todo.js"></script>
  <script type="text/javascript" src="js/card_group.js"></script>
  <script type="text/javascript" src="js/card.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Task Partner</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control card-group-title-input">
          </div>
          <button type="submit" class="btn btn-default add-card-group-btn">Add Card Group</button>
        </form>
    </div>
  </div>
</nav>

<div class='container'>

  <div class='card-groups row clearfix'>

    <!--<div class='card-group'>

      <h2 class='card-group-name'>ennavi_photo</h2>
      <form class="add-card form-inline">
        <input type="text" class="form-control card-title-input" placeholder="input card title">
        <button type="submit" class="btn btn-primary">Add Card</button>
        <span class="add-card-error text-danger"></span>
      </form>

      <div class='cards clearfix'></div>
    </div> -->

  </div>

</div>

<script type="text/template" id="card-group-view-template">
<div class='card-group'>
  <h2 class='card-group-name'><%= title %></h2>
  <form class="add-card form-inline">
    <input type="text" class="form-control card-title-input" placeholder="input card title">
    <button type="submit" class="btn btn-primary add-card-btn">Add Card</button>
    <span class="add-card-error text-danger"></span>
  </form>
  <div class='cards clearfix'></div>
</div>
</script>


<script type="text/template" id="card-outline-view-template">
<div  class='card-outline'><%= title %></div>
</script>

<script type="text/template" id="card-view-template">
<div class="card modal" id='card-<%= id %>'>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header clearfix">
        
        <div class="card-title"><%= title %></div>
        <div class="card-title-edit-area form-inline" style='display: none;'>
          <input class="card-title-edit-input form-control" value="<%= title %>" />
          <button type="button" class="card-title-edit-btn btn btn-info btn-sm">Save</button>
        </div>
        <button type="button" class="card-close close"><span aria-hidden="true">&times;</span></button>

      </div>
      <div class="modal-body">
        
        <div class='description-view-area clearfix'>
          <div class='card-description markdown-body'>
            <% if (description) { %>
              <%= marked(description) %>
            <% } %>
          </div>
          <button class="card-description-edit-btn btn btn-info btn-sm">Edit Description</button>
        </div>

        <div class='description-edit-area clearfix' style='display: none;'>
          <textarea class="form-control card-description-input"><%= description %></textarea>
          <button class="card-description-save-btn btn btn-primary btn-sm">Save Description</button>
        </div>

        <div class='row' style='margin-top: 20px; padding: 20px 0 20px; background: #eee;'>
          <div class='col-md-5'>
            <div class='card-todo-area'>
              <div class='form-inline' style='margin-bottom: 20px;'>
                <input class="form-control todo-content-input" />
                <button class="todo-add-btn btn btn-primary btn-sm">Add Todo</button>
              </div>

              <div class='todos'>
              </div>
            </div>
          </div>

          <div class='col-md-7'>
            <div class='card-memo-area'>
              <textarea class="form-control memo-content-input"></textarea>
              <div style='text-align: center; margin-bottom: 20px;'>
                <button class="memo-add-btn btn btn-primary btn-sm">Add Memo</button>
              </div>
              <div class='memos'>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="card-delete-btn btn btn-warning">Delete</button>
        <button type="button" class="card-close btn btn-default">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</script>

<script type="text/template" id="memo-view-display-template">
<div class='memo'>
  <div class='memo-date'><%= created.fromNow() %></div>
  <div class='memo-content'><%= content %></div>
</div>
</script>

<script type="text/template" id="memo-view-edit-template">
<div class='memo'>
  <div class='memo-date'><%= created.fromNow() %></div>
  <textarea class='form-control memo-content-edit'><%= content %></textarea>
  <div style='margin-top: 10px; text-align: right;'>
    <button class="memo-edit-btn btn btn-info btn-sm">Save</button>
    </div>
</div>
</script>

<script type="text/template" id="todo-view-template">
<div class='todo'>
  <input class="toggle toggle-todo" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
  <label class='todo-content'><%= content %></label>
</div>
</script>

</body>
</html>